{% set mine_ip_addrs = salt.saltutil.runner('mine.get',
  tgt='*zabbix-server*',
  tgt_type='compound',
  fun='mine_ip_addrs') %}
{% for minion_id, ip_addr in mine_ip_addrs.items() %}
Server={{ ip_addr[0] }}
{% endfor %}

Hostname={{ grains['id'] }}