{%- set site = salt['pillar.get']('nginx:server:sites:'+site_name) %}
{% if site.ssl is defined %}
server {
    listen       80;
    server_name  {{ site.host.name }};
    return       301 https://{{ site.host.name }}$request_uri;
}
{% endif %}

server {
   listen {{ site.host.listen }};
   server_name {{ site.host.name }};
{% if site.ssl.cert_file is defined %}
   ssl_certificate {{ site.ssl.cert_file }};
{% endif %}
{% if site.ssl.key_file is defined %}
   ssl_certificate_key {{ site.ssl.key_file }};
{% endif %}
{% if site.ssl.fullchain is defined %}
#   ssl_trusted_certificate {{ site.ssl.fullchain }};
{% endif %}
  access_log /var/log/nginx/{{ site.host.name }}.log combined buffer=512k flush=5m;
  error_log /var/log/nginx/{{ site.host.name }}.error.log;
  # Custom error pages for each http status code
  error_page 400 /ErrorPages/HTTP400.html;
  error_page 401 /ErrorPages/HTTP401.html;
  error_page 402 /ErrorPages/HTTP402.html;
  error_page 403 /ErrorPages/HTTP403.html;
  error_page 404 /ErrorPages/HTTP404.html;
  error_page 500 /ErrorPages/HTTP500.html;
  error_page 501 /ErrorPages/HTTP501.html;
  error_page 502 /ErrorPages/HTTP502.html;
  error_page 503 /ErrorPages/HTTP503.html;

  # redirect the virtual ErrorPages path the real path
  location /ErrorPages/ {
      root html;
  }
  location / {
{%- if site.load_blancing == True %}
	  proxy_pass {{ site.proxy.protocol }}://$sticky_backend;
	  error_page 404 500 502 503 504 = @backend_down;
{%- else %}
      proxy_pass {{ site.proxy.protocol }}://{{ site.proxy.upstream_proxy_pass }};
{%- endif %}
{%- if site.proxy.header_path is defined %}
     include {{ site.proxy.header_path }};
{%- endif %}
{%- if site.access_policy is defined %}
{%- for host in site.access_policy.allowed_ips %}
     allow {{ host }};
{%- endfor %}
     deny all;
{%- endif %}

  }
{%- if site.load_blancing == True %}
location @backend_down {
        proxy_pass {{ site.proxy.protocol }}://{{ site.proxy.upstream_proxy_pass }};
 }
{%- endif %}
}
