# Redirection to HTTPS
{%- set site = salt['pillar.get']('nginx:server:sites:'+site_name) %}
server {
    listen 80 default_server;
    listen [::]:80 default_server;

    # Redirect all HTTP requests to HTTPS with a 301 Moved Permanently response.
    return 301 https://$host$request_uri;
}

server {
    listen {{ site.host.listen }};
    location / {
        stub_status on;
        access_log off;
    {% if site.access_policy is defined %}
      {% for host in site.access_policy.allowed_ips %}
        allow {{ host }};
      {% endfor %}
        deny all;
    {%- endif %}
    }
}
