{%- for upstream_name, backend in salt['pillar.get']('nginx:server:upstreams', {}).iteritems() %}

upstream {{ upstream_name }} {
{%- for backend_item in backend.servers %}
  server {{ backend_item }};
{%- endfor %}
}

map $cookie_backend $sticky_backend {
{%- for map_item in backend.maps %}
   {{ map_item }};
{%- endfor %}
   default {{ upstream_name }};
}

{%- endfor %}